<div id="select">
  <select name="select" (change)="switchCompany($event)">
    <option *ngFor="let l of dropdownOptions" [value]="l.name">{{l.name}}</option>
  </select>
</div>
<div #content id="badgeContainer" >
  <div id="containerLogo" [style.background]="companyConfiguration.background">
    <img [src]="imgCompany" [ngStyle]="companyConfiguration.imgStyles" alt="logo_system">
  </div>
  <div id="imageAndQr" >
    <input #inputImage type="file" accept="image/*" (change)="showPreview($event)" />
    <div id="image" [ngStyle]="{'border' : imageURL.length === 0 ? '1px solid #00000045' : 'none'}" (click)="uploadImage()">
      <img [src]="imageURL" alt="">
    </div>
    <div id="qr" *ngIf="companyConfiguration.name === 'system'">
      <img src="../assets/images/qr.jpg" alt="">
    </div>
  </div>
  <div id="info">
    <input type="text" [(ngModel)]="name" placeholder="Nome" id="name">
    <input type="text" [(ngModel)]="surname" placeholder="Cognome" id="surname">
    <input type="text" [(ngModel)]="id" placeholder="ID" id="id">
  </div>
</div>

<button [disabled]="name.length == 0 || surname.length == 0 || imageURL.length == 0 || id.length == 0" (click)="onConfirm()">scarica pdf</button>